.topbar {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgb(249, 46, 52);
    background: linear-gradient(90deg, rgba(0, 36, 9, 1) 0%, rgba(22, 191, 110, 1) 51%, rgb(2, 174, 2) 100%);
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo_title {
    padding-left: 10px;
    font-weight: bold;
    font-size: 35px;
    color: rgb(200, 200, 200);
}

.topRight {
    display: flex;
    align-items: center;
}

.topLeft {
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}