.conteinerGrid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr;
    grid-template-rows: 20vh 10vh 20vh 5vh;
    width: 100%;
    max-height: 90vh;
}

.color1 {
    background-color: blue;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.color2 {
    background-color: green;
    height: 100%;
    width: 100%;
}

.color3 {
    background-color: red;
    height: 100%;
    width: 100%;
}

.color4 {
    background-color: yellow;
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.color5 {
    background-color: rgb(195, 0, 255);
    height: 100%;
    width: 100%;
}

.color6 {
    background-color: rgb(255, 136, 0);
    height: 40vh;
    width: 100%;
}

.color7 {
    background-color: rgb(0, 255, 229);
    height: 100%;
    width: 100%;
}

.color8 {
    background-color: rgb(98, 0, 255);
    height: 100%;
    width: 100%;
}