.conteinerGrid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
    grid-template-rows: 20vh 10vh 20vh 5vh;
    width: 100%;
    max-height: 95vh;
    background-color: rgb(151, 151, 151);
}

.color1 {
    background-color: rgb(0, 0, 144);
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.color2 {
    background-color: green;
    height: 100%;
    width: 100%;
}

.color3 {
    background-color: rgb(144, 0, 0);
    height: 100%;
    width: 100%;
}

.color4 {
    background-color: rgb(132, 132, 0);
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.color5 {
    background-color: rgb(117, 0, 153);
    height: 100%;
    width: 100%;
}

.color6 {
    background-color: rgb(131, 70, 0);
    height: 62.7vh;
    width: 100%;
}

.color7 {
    background-color: rgb(0, 143, 129);
    height: 100%;
    width: 100%;
}

.color8 {
    background-color: rgb(98, 0, 255);
    height: 100%;
    width: 100%;
}