#Luna-checkbox {
    display: none;
}

.toggler {
    display: block;
    width: 60px;
    height: 31px;
    border: 2px solid #4672fe;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.ball .sun .moon {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}

.ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #4672fe;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform;
}

.sun {
    left: 5px;
}

.moon {
    right: 5px;
}

#Luna-checkbox:checked+.ball {
    transform: translate(29px, -50%);
}