.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.forms__general {
    margin: 20px;
    width: 100%;
}

.form_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.form_body .limpar svg {
    padding: 20px;
    width: 30px;
    height: 30px;
    color: #e45353;
}

.form_body .limpar svg:hover {
    transform: scale(1.15);
    color: #fd1f1f;
}

.form_body .arrow svg {
    display: flex;
    padding: 20px;
    width: 30px;
    height: 30px;
    color: #5563e4;
}

.form_body .arrow svg:hover {
    transform: scale(1.15);
    color: #1b32fc;
}

.search {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.MainChartPainel {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1080px;
    max-width: 1080px;
}

.button_layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.search_img {
    flex-direction: row;
    padding-left: 20px;
}

.search img {
    width: 10%;
}

.endless_bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-fixing-temporary {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 150px;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}


/* For Firefox */

progress::-moz-progress-bar {
    background: green;
}


/* For Chrome or Safari */

progress::-webkit-progress-value {
    background: green;
}


/* For IE10 */

progress {
    background: green;
}