.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.forms__general {
    margin: 20px;
    width: 100%;
}

.MainChartPainel {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1080px;
    max-width: 1080px;
}