.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.yellow {
    margin: 10px;
    width: 30%;
    height: 30%;
    background-color: yellow;
}

.green {
    margin: 10px;
    width: 45%;
    height: 30%;
    background-color: green;
}

.blue {
    margin: 10px;
    width: 30%;
    height: 50%;
    background-color: blue;
}

.red {
    margin: 10px;
    width: 30%;
    height: 30%;
    background-color: red;
}

.MainChartPainel {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1080px;
    max-width: 1080px;
}